<template>
  <card :title="$t('tags-add-or-edit')">



        <div class="panel panel-default">
            <div class="panel-body">
                <form @submit.prevent="save" @keydown="form.onKeydown($event)">

      				<div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Tag name</label>
                        <div class="col-md-7">
                            <input type="text" v-model="form.name" class="form-control" />
                        </div>
                    </div>
      				<div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Tag slug</label>
                        <div class="col-md-7">
                            <input type="text" v-model="form.slug" class="form-control" />
                        </div>
                    </div>
      				<div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Tag status</label>
                        <div class="col-md-7">
                            <input type="text" v-model="form.status" class="form-control" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-6 form-group">
            				<router-link :to="{name: 'tags.index'}" class="btn btn-success float-right">Back</router-link>
                        </div>
                        <div class="col-md-6 form-group">
                            <button class="btn btn-success float-left">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



  </card>
</template>

<script>
import Form from 'vform'
import axios from 'axios'
export default {
	middleware: 'auth',

	metaInfo () {
		return { title: this.$t('tags-add-or-edit') }
	},
	data: () => ({
		form: new Form({
            id: '',
            name: '',
            slug: '',
            status: '',
            // created_at: ''
		})
	}),
    mounted() {
        let app = this;
        let id = app.$route.params.id;
        app.companyId = id;
        if(id>0){
        	axios.get('/api/tags/' + id)
            .then(function (resp) {
                app.form = resp.data;
            })
            .catch(function () {
                alert("Could not load your tag")
            });
        }
    },
    methods: {
        async save() {
            var app = this;
            var newTag = app.form;
            axios.post('/api/tags/save', newTag)
            .then(function (resp) {
                app.$router.push({path: '/tags'});
            })
            .catch(function (resp) {
                console.log(resp);
                alert("Could not create your tag");
            });
        }
    }
}
</script>
