<template>
  <card :title="Labels">
    

        <div class="form-group">
            <router-link :to="{name: 'tags.add-or-edit', params: {id: 0}}" class="btn btn-success">Create new company</router-link>
        </div>

        <div class="panel panel-default">


                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Slug</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="tag, index in tags">
                        <td>{{ tag.name }}</td>
                        <td>{{ tag.slug }}</td>
                        <td>{{ tag.status }}</td>
                        <td>{{ tag.created_at }}</td>
                        <td>
                            <router-link :to="{name: 'tags.add-or-edit', params: {id: tag.id}}" class="btn btn-xs btn-default">
                                Edit
                            </router-link>
                            <a href="javascript:void(0)"
                               class="btn btn-xs btn-danger"
                               v-on:click="deleteEntry(tag.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>

  </card>
</template>

<script>
import axios from 'axios'
export default {
	middleware: 'auth',

	metaInfo () {
		return { title: this.$t('tags') }
	},
	data: function () {
	    return {
	        tags: []
	    }
	},
	mounted() {
	    var app = this;
	    axios.get('/api/tags')
        .then(function (resp) {
            app.tags = resp.data;
        })
        .catch(function (resp) {
            console.log(resp);
            alert("Could not load tags");
        });
	},
    methods: {
        deleteEntry(id, index) {
            if (confirm("Do you really want to delete it?")) {
                var app = this;
                axios.delete('/api/tags/' + id)
                .then(function (resp) {
                    app.tags.splice(index, 1);
                })
                .catch(function (resp) {
                    alert("Could not delete tag");
                });
            }
        }
    }
}
</script>
